*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 13px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
p{
    margin-bottom: 0px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li{
    padding: 0;
    margin: 0;
}

/* header  */


.header-date{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-left: 1px solid rebeccapurple;
    padding-left: 5px;
}

.header-date span{
    font-family: 'Be Vietnam Pro';
    font-size: 0.8rem;
    color: gray;
    font-weight: 300;
}

.search-bar{
    border: 1px solid gray;
    border-radius: 20px;
}
.search-bar  input[type="text"]{
    width: 100%;
    border: 0px;
    font-size: 0.8rem;
    padding: 3px 7px;
}
.search-bar  input[type="text"]:focus{
    border: 0px;
    outline: none !important;
}

.search-bar button{
    background-color: #ffffff;
    border: 0px;
    padding: 3px 0px;
}
.search-bar button i{
    color: gray;
}
header .social-icon{
    display: flex;
    justify-content: end;
    align-items: center;
}
header .social-icon div{
    border: 1px solid gray;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}
header .social-icon div i{
    color: gray;
}
.header-btn-area  i{
    font-size: 1.3rem;
    color: #ffffff;
}
.header-btn-area span{
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 300;
}

/* header navbar  */
header nav{
    padding-top: 5px;
    border-top: 1px solid black;
}
header nav ul li{
    border-left: 2px solid rebeccapurple;
}

header nav ul li a{
    color: gray;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;

}
header nav ul li i{
    margin-left: 8px;
}

/* header end  */

/* hero start  */
.hero-section{
    background-image: url('../image/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    background-color: rgba(245, 49, 49, 0.301);
    padding: 30px 30px 35px 15px
}
.hero-content p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}
.hero-content hr{
    color: #ffffff;
    padding: 2px 0px;

}
.hero-content h2{
    color: #ffffff;
    font-size: 2rem;
    padding-bottom: 60px;
}

/* top news  */
.author{
    text-decoration: none;
    color: #666666;
    border-top: 1px solid #666666;
}
.see-more{
    padding: 2px 5px;
    background-color: #ffffff;
    color: #666666;
}

/* recent news slider  */
.recent-news-slider .card{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 10px 30px;
}
.recent-news-slider{
    position: relative;
}
button.slick-prev.pull-left.slick-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    border: none;
    font-size: 1rem;
}
button.slick-next.pull-right.slick-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    font-size: 1rem;
}

/* bohusor  */
.bohusor-title{
    color: gray;
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0px;
}

.bohusor-author{
    color: gray;
    font-size: 1rem;
    border-bottom: 1px solid red;
    margin: 10px 0px;
    text-decoration: none;
}

/* international */
.international-right-content{
    position: absolute;
}
.international-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.294);
    color: white;
    padding: 5px;
}
.international-content a{
    border-bottom: 1px solid red;
    color: white;
}

.international-right{
    padding-left: 35px;
    border-right: 3px solid gray;
}

/* boithoki */

footer ul > li > a{
    text-decoration: none;
}

footer .social-icon{
    display: flex;
    justify-content: end;
    align-items: center;
}
footer .social-icon div{
    border: 1px solid gray;
    margin-left: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}
footer .social-icon div i{
    color: gray;
}
/* menu{
    display: flex;
    justify-content: space-between;
} */

.swiperbgimg{
    background-image: url('https://swiperjs.com/demos/images/nature-1.jpg');
}
.swiperbgimg2{
    background-image: url('https://swiperjs.com/demos/images/nature-2.jpg');
}